.column-form{
    margin: 40px auto;
}
@media screen and (max-width: 550px){
    form{
        width: 400px;
    }
    form.f-login{
        width: 400px;
    }
}
@media screen and (min-width: 551px){
    form{
        width: 500px;
    }
    form.f-login{
        width: 450px;
    }
}
form{
    height: 100%;
    border: 1px solid #dddddd;
    box-shadow: 0px 2px 15px 0px #dbdbdb;
    margin: 0px auto;
    background: #eeeeee;
    padding: 20px;
    color: #000000;
    border-radius: 5px;
}

.reset_all_login{
    margin-right: 35px;
}
.create-new-account{
    font-size: 30px;
    color: #000000;
    margin-bottom: 10px;
}
.feild-form{
    font-size: 15px;
    margin-bottom: 20px;
}
.feild-form>label{
    margin-bottom: 5px;
    font-weight: 400;
    padding-top: 15px;
    width: 30%;
    text-align: left;
    padding-left: 20px;
}
.icon-input>i{
    margin: 0px 10px;
    color: #999999;
}
.icon-input{
    background: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px 10px 10px 40px;
    text-align: left;
    width: 60%;
}
.iconForInput {
    position: relative;
    left: 30px;
    color: #999999;
}
.submit-register{
    position: relative;
    left: 32%;
}
#reset{
    margin-right: 50px;
}
.have-account{
    margin-top: 20px;
}
.fa-spinner {
    color: #3883de;
}

/* vadilation for info user */
.error{
    font-weight: 200;
    color: red;
}